---
layout: page
title: "About"
description: "Hey, this is Captain Jack."
header-img: "https://wangyapeng-me-1251421422.cos.ap-shanghai.myqcloud.com/2016-nba-championship.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        Talk is cheap, show me the CODE!
    </blockquote>
    
    感觉有帮助？给加个鸡腿吧^_^

    <ul>
        <li>
            <span>支付宝</span>
            <img src="img/pay/alipay.jpg">
        </li>
        <li>
            <span>微信</span>
            <img src="img/pay/wechat.jpg">
        </li>
        <li>
            <span>ETH: 0xB934CdD7ba10A61A678b610Cad3457308E7c9702</span>
            <img src="img/pay/eth.png">
        </li>
        <li>
            <span>XMR: 8ATmACpuHEJ4nDAUXhWHZfEJCeNXBVJ3oJSXVxxscRqKjmQvGcNm14HMGteXXe2sd4TyXPBKrZbQUHvgWKBeZqHD76tsfM4</span>
            <img src="img/pay/xmr.png">
        </li>
    </ul>

    

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    Feel any help? Buy me a cup of coffee. ^_^

    <ul>
        <li>
            <span>Alipay</span>
            <img src="img/pay/alipay.jpg">
        </li>
        <li>
            <span>Wechat</span>
            <img src="img/pay/wechat.jpg">
        </li>
        <li>
            <span>ETH: 0xB934CdD7ba10A61A678b610Cad3457308E7c9702</span>
            <img src="img/pay/eth.png">
        </li>
        <li>
            <span>XMR: 8ATmACpuHEJ4nDAUXhWHZfEJCeNXBVJ3oJSXVxxscRqKjmQvGcNm14HMGteXXe2sd4TyXPBKrZbQUHvgWKBeZqHD76tsfM4</span>
            <img src="img/pay/xmr.png">
        </li>
    </ul>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
